/* Home page styles */

.home-page__avatar {
  padding-top: 5em;
  border-radius: 30%;
  display: block;
  margin: 25px auto;
}

.home-page__banner {
  background-color: black;
  opacity: 0.8;
  width: 65%;
  margin: auto;
  border-radius: 5%;
  padding: 10px;
}

.home-page__banner h1 {
  font-weight: bold;
  font-size: 50px;
  width: 70%;
  margin: 20px auto;
  text-align: center;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-page__banner hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: 15px auto;
}

.home-page__banner p {
  text-align: center;
  font-size: 22px;
  padding: 1em;
  width: 90%;
  margin: auto;
  color: white;
  /* background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.home-page__grid {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
}

.home-page__social-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding: 5px;
}

.home-page__social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* Contact page styles */

.contact-page__afew-about-me {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bolder;
  margin: 15px;
}

.contact-page__body {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto;
  justify-content: center;
  padding-top: 2em;
  overflow-y: scroll;
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-page__body-grid {
  width: 80%;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  text-align: center;
  justify-content: center;
  background: white;
  color: black;
  border-radius: 20px;
}

.contact-page__body-grid h3 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bolder;
}

.contact-page__body-grid hr {
  border-top: 4px dashed black;
  width: 60%;
  margin: auto;
}

.contact-page__body-grid img {
  width: 250px;
  height: 250px;
  border: 1px solid lightgrey;
  border-radius: 10%;
}

.contact-page__icon {
  font-size: 3em;
}

.contact-page__icon.fa-envelope-square {
  color: #b31d33 !important;
}

.contact-page__icon.fa-linkedin-square {
  color: #2e9aff;
}

.contact-page__icon.fa-envelope-square {
  color: #0b0d0d;
}

.contact-page__contact-list .mdl-list__item a {
  text-decoration: none;
  color: black;
}

.contact-page__contact-list .mdl-list__item--three-line {
  height: 110px;
}

.contact-page__list-item-text {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-size: calc(0.9vw + 0.7vh);
  margin: 10px;
}

/* About Page Styles */

.about-page__grid {
  width: 90%;
  height: 100%;
  min-height: 1000px;
}

.about-page__left-cell {
  background: #ededed !important;
}

.about-page__left-cell-grid .mdl-cell {
  margin: 7px !important;
  background: whitesmoke !important;
}

.about-page__left-cell-grid .mdl-cell p{
  text-align: center;
  padding: 30px 2px;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold !important;
}

.about-page__left-cell-title {
  margin: 20px;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold;
  font-size: 4em;
}

.about-page__right-cell {
  background: #ededed !important;
  padding: 10px
}

.about-page__right-cell-grid {
  width: 95%;
  margin: 20px;
  padding: 10px;
  background-color: whitesmoke;
  font-family: 'Source Code Pro', sans-serif;
}

.about-page__right-cell-grid .left-cell p {
  font-weight: bold !important;
  line-height: 110%;
  font-size: 16px;
  border-right: 1px solid whitesmoke;
}

.about-page__right-cell-grid .left-cell {
  border-right: 1px solid #ededed;
}

.about-page__right-cell-grid .right-cell p {
  font-size: 15px;
  font-weight: bolder !important;
}